.{
    padding:0;
    margin:0;
}
header{
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    
}
.logo{
    float: left
    width: 20%;
    float: left;
}
.menu{
    float: right;
    width: 50%;
}
.menu ul{

list-style: none;

overflow: hidden;

float: right;
}
.menu ul li{

margin-left: 50px;

float: left;

/* margin-left: auto; */

margin-left: 50;
}
.menu ul li a{
    
text-decoration: none;
    
color: black;
    
text-transform: uppercase;
}
.banner{
width: 90%;
margin: auto;
}
.banner img{
width: 100%;
}
.photodiary{

width: 80%;

margin: auto;

color: #;

/* color: #b4ad9e; */
}
.photodiary h5{

color: #b4ad9e;

text-transform: uppercase;

font-size: 15px;

margin-bottom: 20;

margin-bottom: 20px;
}
.photodiary h1{

color: #626262;
}
.photodiary p{

color: #626262;

font-size: 30px;

margin-bottom: 15;

margin-bottom: 30px;

line-height: 44px;
}
.photodiary a{

color: #b4ad9e;

margin-bottom: 30px;
}

.lifestyle{

/* width: 50%; */

/* margin: auto; */

/* margin: initial; */

display: flex;

flex-wrap: wrap;

/* justify-content: flex-end; */

justify-content: space-between;

margin: 20%;

justify-content: space-around;

/* margin: 30%; */
}
.lifestyle_item{

width: 48%;
}
.lifestyle_item img {
    
}
.lifestyle_item h5{

color: #b4ad9e;

text-transform: uppercase;

font-size: 15px;

margin-bottom: 20;

margin-bottom: 20px;
}
.lifestyle_item h1{

color: #626262;
}
.lifestyle_item p{

color: #626262;

font-size: 30px;

margin-bottom: 15;

margin-bottom: 30px;

line-height: 44px;
}
.newsletter{

background: #f0f0f0;
padding: 70px 0;


}
.newsletter_content{


}
.newsletter_content h1{

}
.newsletter_content input {

}
.loadmore{

}
.loadmore button{

}
.footer{

}
.footer_content{

}
.social_icon{

}
.social_icon ul{

}
.social_icon ul li{

}
.terms{

}
.terms ul{

}
.terms ul li{

}
.terms ul li a {
    
}
